<template >
  <div class="header">
        <button>Home</button>
        <button v-if="es_campesino">Estadisticas de los productos</button>
        <button v-if="es_comprador">Estadisticas de campesinos</button>
        <img src = "./assets/logo.png"/>
        <button v-if="is_auth">Mis estadisticas</button>
        <button v-if="is_auth">Perfil</button>
        <div class = "Registro" v-if="!is_auth">
          <br/>
          <input type="text" placeholder="Usuario"/>
          <br/>
          <input type="text" placeholder="Contraseña"/>
          <br/>
          <p> Registrate </p>
        </div>
    </div>
  <div class="contenido">

    <h2> Filtrar por </h2>
    <div id="filtros">
            <form v-on:submit.prevent="processLogInUser" >
                <input type="text" v-model="filtros.departamento" placeholder="Departamento">
                <input type="text" v-model="filtros.producto" placeholder="Producto">
                <input type="text" v-model="filtros.calificacion" placeholder="Calificacion">
                <button type="submit">Filtrar</button>
            </form>  
    </div>
    
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Id Oferta</th>
                <th scope="col">campo1</th>
                <th scope="col">campo2</th>
                <th scope="col">campo3</th>
              </tr>
            </thead>
            <tbody id="con">
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
            </tbody>
          </table>
    
    
    

      
    </div>

</template>
<script>
import axios from 'axios';

export default {
    name: "App",

    data: function(){
        return {
            filtros: {
                departamento:"",
                producto:"",
                calificacion:""
            },
            es_campesino: false,
            es_comprador: false,
            is_auth: false,
            
        }
    },

    methods: {
        processLogInUser: function(){
            axios.get(
                "https://mercado-campo.herokuapp.com/home/", 
                this.filtros,  
                {headers: {}}
                )
                .then((result) => {
                    let filtros = {
                        id_of: this.filtros.of_pk,
                        id_campesino: this.filtros.of_campesinopk,
                        producto: this.filtros.of_producto,
                        valorporunidad: this.filtros.of_valorporunida,
                        presentacion: this.filtros.of_presentacion,
                        cantidad: this.filtros.of_cantidad
                    }
                    
                    this.$emit('completedLogIn', dataLogIn)
                })
                .catch((error) => {
                    
                    if (error.response.status == "401")
                        alert("ERROR 401: Credenciales Incorrectas.");
                    
                });

            $("#btnCagar").click(function () {

              var d = '<tr>'+
              '<th>ID</th>'+
              '<th>Nombres</th>'+
              '<th>Apellidos</th>'+
              '</tr>';
              for (var i = 1; i < 3; i++) {
              d+= '<tr>'+
              '<td>'+"datos[i].id"+'</td>'+
              '<td>'+"datos[i].nombres"+'</td>'+
              '<td>'+"datos[i].apellidos"+'</td>'+
              '</tr>';
              }
              $("#tabla").append(d);
              });
        }
    }
}

  



</script>

<style>
  .contenido{
    height: 500px;
    background-repeat:no-repeat;
    background-size: 100rem;
    background-image:url("fondopag.jpeg")
  }
  div #filtros{
    margin-right: 30 px;
    background-color: #188B39 ;
    color:#E5E7E9  ;

    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .table{
    margin: 20px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
  }
  .header{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 10vh; 
    min-height: 100px;

    background-color: #188B39 ;
    color:#E5E7E9  ;

    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .header button{
    margin-left: 10px;
    margin-right: 10px;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 18px;
    font-family: -webkit-pictograph
  }

  .header img{
    width: 100px;
  }

  .Registro{
    font-family: -webkit-pictograph;
    font-size: 10px;
    margin: 5px;
  }

  .Registro input{
    font-family: -webkit-pictograph;
    font-size: 10px;
  }
</style>